<section class="about-game">
  <div class="container about-game-container">
    <div class="decor-about-container">
      <svg class="star star-7">
        <use href="/img/my-icons.svg#icon-star-7"></use>
      </svg>
      <svg class="star star-14">
        <use href="/img/my-icons.svg#icon-star-14"></use>
      </svg>
      <svg class="star star-15">
        <use href="/img/my-icons.svg#icon-star-15"></use>
      </svg>
    </div>

    <div class="about-game-image">
      <img src="/img/webp/desc/about.png" alt="About the game" />
    </div>

    <div class="about-game-content">
      <h2 class="about-game-title">About the game</h2>
      <p class="about-game-text">
        A relaxing puzzle experience powered by colorful 3D matching Take the
        matching games you already know and love, but now everything's in 3D and
        way more cluttered - in a good way. The game focuses on smooth
        progression, satisfying visual feedback, and casual mobile accessibility
        while introducing increasingly creative puzzle layouts and object
        themes.  We want it to look sleek, help you unwind, and give you that
        little dopamine hit when you clear a level.
      </p>
    </div>
  </div>
</section>
