<section id="contacts" class="contacts">
  <div class="container contacts-content">
    <div class="container-img">
      <picture>
        <!-- mobile -->
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/webp/mobile/popmatchx.png   1x,
            ./img/webp/mobile/popmatch@2x.png 2x
          "
        />

        <!-- desktop -->
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/webp/desc/popmatch.png    1x,
            ./img/webp/desc/popmatch@2x.png 2x
          "
        />

        <img
          src="./img/webp/desc/popmatch.png"
          srcset="./img/webp/desc/popmatch@2x.png 2x"
          alt=""
        />
      </picture>
    </div>
    <h2 class="contacts-title">Ready to clear the next 3D puzzle?</h2>
    <a href="mailto:info@stoneva.it.com" class="link-mail" target="_blank"
      >Contact:<svg class="link-mail-svg" viewBox="0 0 32 32">
        <use href="/img/sprite.svg#maill"></use>
      </svg>
      info@stoneva.it.com</a
    >
  </div>
</section>
