<section id="faqs" class="faqs">
  <div class="container faqs-content">
    <h2 class="faqs-title">FAQs</h2>
    <ul class="faqs-list">
      <li class="faqs-item">
        <input type="checkbox" data-faqs-item id="q1" />
        <label class="faqs-item-title" for="q1">
          <p>Is Pop Match 3D beginner-friendly?</p>
          <svg viewBox="0 0 32 32" class="faqs-svg">
            <use href="/img/sprite.svg#iconvector"></use>
          </svg>
        </label>

        <label class="faqs-item-text" for="q1"
          ><p>Totally! My mom could figure this out in like 30 seconds.</p>
          <svg class="faqs-svg" viewBox="0 0 32 32">
            <use href="/img/sprite.svg#iconline"></use>
          </svg>
        </label>
      </li>
      <li class="faqs-item">
        <input type="checkbox" data-faqs-item id="q2" />
        <label class="faqs-item-title" for="q2">
          <p>Does the game include boosters?</p>
          <svg viewBox="0 0 32 32" class="faqs-svg">
            <use href="/img/sprite.svg#iconvector"></use>
          </svg>
        </label>

        <label class="faqs-item-text" for="q2"
          ><p>Yes, players can use hints and puzzle support tools.</p>
          <svg class="faqs-svg" viewBox="0 0 32 32">
            <use href="/img/sprite.svg#iconline"></use>
          </svg>
        </label>
      </li>
      <li class="faqs-item">
        <input type="checkbox" data-faqs-item id="q3" />
        <label class="faqs-item-title" for="q3">
          <p>Are there different object collections?</p>
          <svg viewBox="0 0 32 32" class="faqs-svg">
            <use href="/img/sprite.svg#iconvector"></use>
          </svg>
        </label>

        <label class="faqs-item-text" for="q3"
          ><p>Yes, new object themes unlock throughout progression.</p>
          <svg class="faqs-svg" viewBox="0 0 32 32">
            <use href="/img/sprite.svg#iconline"></use>
          </svg>
        </label>
      </li>
      <li class="faqs-item">
        <input type="checkbox" data-faqs-item id="q4" />
        <label class="faqs-item-title" for="q4">
          <p>What style should the landing page follow?</p>
          <svg viewBox="0 0 32 32" class="faqs-svg">
            <use href="/img/sprite.svg#iconvector"></use>
          </svg>
        </label>

        <label class="faqs-item-text" for="q4"
          ><p>Bright, modern, colorful, and visually immersive.</p>
          <svg class="faqs-svg" viewBox="0 0 32 32">
            <use href="/img/sprite.svg#iconline"></use>
          </svg>
        </label>
      </li>
      <li class="faqs-item">
        <input type="checkbox" data-faqs-item id="q5" />
        <label class="faqs-item-title" for="q5">
          <p>Is the gameplay relaxing or competitive?</p>
          <svg viewBox="0 0 32 32" class="faqs-svg">
            <use href="/img/sprite.svg#iconvector"></use>
          </svg>
        </label>

        <label class="faqs-item-text" for="q5"
          ><p>
            The experience focuses on relaxing and satisfying puzzle
            progression.
          </p>
          <svg class="faqs-svg" viewBox="0 0 32 32">
            <use href="/img/sprite.svg#iconline"></use>
          </svg>
        </label>
      </li>
    </ul>
  </div>
</section>
