<section id="gallery" class="gallery">
  <div class="container gallery-content">
    <div data-swiper class="slider swiper">
      <h2 class="gallery-title">Gallery</h2>
      <ul
        data-gallery-swiper-wrapper
        class="slider__wrapper swiper-wrapper"
        id="slider__wrapper"
      ></ul>

      <div class="gallery-nav-pag">
        <div class="swiper-pagination-arrows">
          <button
            data-gallery-swiper-prev
            class="slider-arrows gallery-pagination-prev"
          >
            <svg class="icon" viewBox="0 0 32 32">
              <use href="/img/sprite.svg#icon-Polygon-5"></use>
            </svg>
          </button>

          <button
            data-gallery-swiper-next
            class="slider-arrows gallery-pagination-next"
          >
            <svg class="icon" viewBox="0 0 32 32">
              <use href="/img/sprite.svg#icon-Polygon-4"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
