<header class="header">
  <div class="container wrapper">
    <nav class="nav">
      <a class="nav-logo" href="./" rel="logo">
        <img
          class="nav-logo-img"
          src="/img/logo.svg"
          alt="header-logo"
          width="173"
          height="56"
        />
      </a>
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link" href="#about-the-game">About the game</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#how-to-play">How to Play</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#gallery">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#reviews">Review</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#faqs">FAQ</a>
        </li>
      </ul>
    </nav>

    <a href="#" class="btn-play">
      <span class="btn-play-text">Play Now</span>
      <svg class="play-icon" width="20" height="20">
        <use href="/img/sprite.svg#icon-Playstore"></use>
      </svg>
    </a>

    <button class="burger-btn" type="button" data-action="open">
      <svg class="burger-icon" width="57" height="34">
        <use href="/img/sprite.svg#icon-Burger-menu"></use>
      </svg>
    </button>
  </div>

  <div class="burger-menu" data-visible="close">
    <div class="burger-menu-close-container">
      <button class="btn-close" type="button" data-action="close">
        <svg class="burger-menu-close-button-svg" width="27" height="20">
          <use href="/img/sprite.svg#icon-Close"></use>
        </svg>
      </button>
    </div>
    <div class="burger-menu-container">
      <ul class="burger-menu-list">
        <li class="burger-menu-item">
          <a class="burger-menu-link" href="./">Home</a>
        </li>
        <li class="burger-menu-item">
          <a class="burger-menu-link" href="#about">About the Game</a>
        </li>
        <li class="burger-menu-item">
          <a class="burger-menu-link" href="#how-to-play">How to Play</a>
        </li>
        <li class="burger-menu-item">
          <a class="burger-menu-link" href="#gallery">Gallery</a>
        </li>
        <li class="burger-menu-item">
          <a class="burger-menu-link" href="#review">Review</a>
        </li>
        <li class="burger-menu-item">
          <a class="burger-menu-link" href="#faq">FAQ</a>
        </li>
      </ul>
    </div>
  </div>
</header>
