<header class="page-header">
  <div class="container header-container">
    <nav class="header-nav">
      <a class="header-logo" href="./index.html" rel="logo">
        <img
          class="header-logo-img"
          src="../img/logo.svg"
          alt="header-logo"
          width="173"
          height="56"
        />
      </a>
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a class="header-nav-link" href="../index.html#about"
            >About the game</a
          >
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="../index.html#how-to-play"
            >How to Play</a
          >
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="../index.html#gallery">Gallery</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="../index.html#review">Review</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="../index.html#faq">FAQ</a>
        </li>
      </ul>
    </nav>

    <a href="#" class="btn-play">Play Now</a>

    <button class="burger-button" type="button">
      <svg class="burger-icon" width="57" height="34">
        <use href="../img/sprite.svg#icon-Burger-menu"></use>
      </svg>
    </button>
  </div>

  <div class="navbar">
    <div class="navbar-logo-close-container">
      <button class="navbar-close-button" type="button">
        <svg class="navbar-close-button-svg" width="27" height="20">
          <use href="../img/sprite.svg#icon-Close"></use>
        </svg>
      </button>
    </div>
    <div class="navbar-nav-container">
      <ul class="navbar-list">
        <li class="navbar-item">
          <a class="navbar-link" href="../index.html">Home</a>
        </li>
        <li class="navbar-item">
          <a class="navbar-link" href="../index.html#about">About the Game</a>
        </li>
        <li class="navbar-item">
          <a class="navbar-link" href="../index.html#how-to-play"
            >How to Play</a
          >
        </li>
        <li class="navbar-item">
          <a class="navbar-link" href="../index.html#gallery">Gallery</a>
        </li>
        <li class="navbar-item">
          <a class="navbar-link" href="../index.html#review">Review</a>
        </li>
        <li class="navbar-item">
          <a class="navbar-link" href="../index.html#faq">FAQ</a>
        </li>
      </ul>
    </div>
  </div>
</header>
