<section class="hero">
  <div class="container hero-container">
    <div class="hero-content">
      <h1 class="hero-title">
        Find three, <br />
        clear the board, <br />
        feel good about it.
      </h1>
      <p class="hero-description">
        Relaxing 3D puzzle gameplay packed with colorful challenges.
      </p>

      <a href="#" class="btn-play-hero">
        <span class="btn-play-hero-text">Play on Google Play</span>
        <svg class="play-icon" width="38" height="38">
          <use href="../img/sprite.svg#icon-Playstore"></use>
        </svg>
      </a>
      <img
        src="../img/webp/desc/hiro.png"
        alt="Hero character"
        class="hero-character"
      />
    </div>
  </div>
</section>
