<section class="hero">
  <div class="container hero-container">
    <div class="hero-image">
      <picture>
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/webp/mobile/hiro.png    1x,
            ./img/webp/mobile/hiro@x2.png 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="./img/webp/desc/hiro.png 1x, ./img/webp/desc/hiro@x2.png 2x"
        />
        <img
          class="hero-character"
          src="img/webp/desc/hiro.png"
          alt="Hero character"
        />
      </picture>
    </div>

    <div class="hero-content">
      <h1 class="hero-title">
        Find three, clear the<br />
        board, feel good<br />
        about it.
      </h1>
      <p class="hero-description">
        Relaxing 3D puzzle gameplay packed with colorful challenges.
      </p>
      <a
        href="https://play.google.com/store/apps/details?id=com.outplayentertainment.findmatch"
        class="btn-play-hero"
        target="_blank"
        rel="noopener noreferrer"
      >
        <span class="btn-play-hero-text-light">Play on</span>
        <span class="btn-play-hero-text-bold">Google Play</span>
        <svg class="play-icon" width="38" height="38">
          <use href="/img/sprite.svg#icon-Playstore"></use>
        </svg>
      </a>

      <div class="hero-stats">
        <div class="stat-item-rating">
          <span class="stat-label">Rating</span>
          <span class="stat-value">4.8</span>
          <svg class="stat-icon" width="24" height="24">
            <use href="/img/sprite.svg#icon-Star-1"></use>
          </svg>
        </div>

        <div class="stat-item-reviews">
          <span class="stat-label">Reviews</span>
          <span class="stat-value">830</span>
          <svg class="stat-icon" width="24" height="24">
            <use href="/img/sprite.svg#icon-solar_heart-bold"></use>
          </svg>
        </div>

        <div class="stat-item-download">
          <span class="stat-label">Download</span>
          <span class="stat-value">100k +</span>
          <svg class="stat-icon" width="24" height="24">
            <use href="/img/sprite.svg#icon-group"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
