<section class="hero">
  <div class="container hero-container">
    <div class="decor-container">
      <svg class="star star-7">
        <use href="../img/my-icons.svg#icon-star-7"></use>
      </svg>
      <svg class="star star-8-1">
        <use href="../img/my-icons.svg#icon-star-8-1"></use>
      </svg>
      <svg class="star star-8-2">
        <use href="../img/my-icons.svg#icon-star-8-2"></use>
      </svg>
      <svg class="star star-9">
        <use href="../img/my-icons.svg#icon-star-9"></use>
      </svg>
      <svg class="star star-10">
        <use href="../img/my-icons.svg#icon-star-10"></use>
      </svg>
      <svg class="star star-11">
        <use href="../img/my-icons.svg#icon-star-11"></use>
      </svg>
      <svg class="star star-12">
        <use href="../img/my-icons.svg#icon-star-12"></use>
      </svg>
      <svg class="star star-13">
        <use href="../img/my-icons.svg#icon-star-13"></use>
      </svg>
      <svg class="star star-14">
        <use href="../img/my-icons.svg#icon-star-14"></use>
      </svg>
      <svg class="star star-15">
        <use href="../img/my-icons.svg#icon-star-15"></use>
      </svg>
    </div>

    <div class="hero-content">
      <h1 class="hero-title">
        Find three, clear the<br />
        board, feel good<br />
        about it.
      </h1>
      <p class="hero-description">
        Relaxing 3D puzzle gameplay packed with colorful challenges.
      </p>
      <a href="#" class="btn-play-hero">
        <span class="btn-play-hero-text-light">Play on</span>
        <span class="btn-play-hero-text-bold">Google Play</span>
        <svg class="play-icon" width="38" height="38">
          <use href="../img/sprite.svg#icon-Playstore"></use>
        </svg>
      </a>
      <div class="hero-image">
        <img
          src="../img/webp/desc/hiro.png"
          alt="Hero character"
          class="hero-character"
        />
      </div>

      <div class="hero-stats">
        <div class="stat-item-rating">
          <span class="stat-label">Rating</span>
          <span class="stat-value">4.8</span>
          <svg class="stat-icon" width="23" height="24">
            <use href="./img/sprite.svg#icon-Star-1"></use>
          </svg>
        </div>

        <div class="stat-item-reviews">
          <span class="stat-label">Reviews</span>
          <span class="stat-value">830</span>
          <svg class="stat-icon" width="20" height="18">
            <use href="./img/sprite.svg#icon-solar_heart-bold"></use>
          </svg>
        </div>

        <div class="stat-item-download">
          <span class="stat-label">Download</span>
          <span class="stat-value">100k +</span>
          <svg class="stat-icon" width="19" height="16">
            <use href="../img/my-icons.svg#icon-download"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
