<section class="how-to-play" id="how-to-play">
  <div class="container how-to-play-container">
    <h2 class="how-to-play-title">How to play</h2>

    <div class="slider swiper how-to-play-swiper">
      <ul class="swiper-wrapper cards-grid">
        <li class="card card-1 swiper-slide">
          Match identical objects and clear<br />
          every board
        </li>
        <li class="card card-2 swiper-slide">
          Search Through Puzzle<br />
          Collections
        </li>
        <li class="card card-3 swiper-slide">
          Find hidden matching items<br />
          inside crowded 3D spaces.
        </li>
        <li class="card card-4 swiper-slide">Create Triple Matches</li>
        <li class="card card-5 swiper-slide">
          Collect three identical objects to<br />
          remove them instantly.
        </li>
        <li class="card card-6 swiper-slide">Complete Puzzle Levels</li>
        <li class="card card-7 swiper-slide">
          Clear every object to progress<br />
          through gameplay.
        </li>
        <li class="card card-8 swiper-slide">Use Helpful Boosters</li>
        <li class="card card-9 swiper-slide">
          Hints and tools assist during difficult<br />
          stages.
        </li>
        <li class="card card-10 swiper-slide">Unlock New Challenges</li>
        <li class="card card-11 swiper-slide">
          Progress through increasingly detailed<br />
          puzzle environments.
        </li>
      </ul>
    </div>

    <div class="slider-nav-pag">
      <div class="swiper-pagination">
        <div class="swiper-pagination-arrows">
          <button class="slider-arrows how-to-play-pagination-prev">
            <svg class="icon" viewBox="0 0 32 32">
              <use href="/img/sprite.svg#icon-Polygon-5"></use>
            </svg>
          </button>
          <button class="slider-arrows how-to-play-pagination-next">
            <svg class="icon" viewBox="0 0 32 32">
              <use href="/img/sprite.svg#icon-Polygon-4"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
