<section class="how-to-play" id="how-to-play">
  <div class="container how-to-play-container">
    <h2 class="how-to-play-title">How to play</h2>

    <div class="how-to-play-content">
      <div data-swiper-how-to-play class="slider swiper how-to-play-swiper">
        <ul data-how-to-play-wrapper class="swiper-wrapper cards-grid">
          <li class="card card-1 slider-slide-how-to-play swiper-slide">
            Match identical objects and clear<br />
            every board
          </li>
          <li class="card card-2 slider-slide-how-to-play swiper-slide">
            Search Through Puzzle<br />
            Collections
          </li>
          <li class="card card-3 slider-slide-how-to-play swiper-slide">
            Find hidden matching items<br />
            inside crowded 3D spaces.
          </li>
          <li class="card card-4 slider-slide-how-to-play swiper-slide">
            Create Triple Matches
          </li>
          <li class="card card-5 slider-slide-how-to-play swiper-slide">
            Collect three identical objects to<br />
            remove them instantly.
          </li>
          <li class="card card-6 slider-slide-how-to-play swiper-slide">
            Complete Puzzle Levels
          </li>
          <li class="card card-7 slider-slide-how-to-play swiper-slide">
            Clear every object to progress<br />
            through gameplay.
          </li>
          <li class="card card-8 slider-slide-how-to-play swiper-slide">
            Use Helpful Boosters
          </li>
          <li class="card card-9 slider-slide-how-to-play swiper-slide">
            Hints and tools assist during difficult<br />
            stages.
          </li>
          <li class="card card-10 slider-slide-how-to-play swiper-slide">
            Unlock New Challenges
          </li>
          <li class="card card-11 slider-slide-how-to-play swiper-slide">
            Progress through increasingly detailed<br />
            puzzle environments.
          </li>
        </ul>
      </div>
      <div class="slider-nav-pag">
        <div class="swiper-pagination">
          <div class="swiper-pagination-arrows">
            <button
              data-how-to-play-pagination-prev
              class="slider-arrows how-to-play-pagination-prev"
            >
              <svg class="icon" viewBox="0 0 32 32">
                <use href="/img/sprite.svg#icon-Polygon-5"></use>
              </svg>
            </button>
            <button
              data-how-to-play-pagination-next
              class="slider-arrows how-to-play-pagination-next"
            >
              <svg class="icon" viewBox="0 0 32 32">
                <use href="/img/sprite.svg#icon-Polygon-4"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
