<section id="reviews" class="reviews">
  <div class="container reviews-content">
    <h2 class="reviews-title">Review</h2>
    <div class="reviews-container">
      <div>
        <div data-reviews class="reviews-slider swiper">
          <ul
            data-reviews-swiper
            class="swiper-wrapper reviews-swiper-wrapper"
            id="reviews__wrapper"
          ></ul>

          <div class="reviews-nav-pag">
            <div class="swiper-pagination"></div>
            <div class="swiper-pagination-arrows">
              <button
                data-review-pagination-prev
                class="slider-arrows review-pagination-prev"
              >
                <svg class="icon" viewBox="0 0 32 32">
                  <use href="/img/sprite.svg#icon-Polygon-5"></use>
                </svg>
              </button>

              <button
                data-review-pagination-next
                class="slider-arrows review-pagination-next"
              >
                <svg class="icon" viewBox="0 0 32 32">
                  <use href="/img/sprite.svg#icon-Polygon-4"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
