<section id="reviews" class="reviews">
  <div class="container reviews-content">
    <h2 class="reviews-title">Review</h2>
    <div>
      <picture>
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/webp/mobile/review.png    1x,
            ./img/webp/mobile/review@x2.png 2x
          "
        />

        <source
          media="(min-width: 768px)"
          srcset="
            ./img/webp/desc/review.png    1x,
            ./img/webp/desc/review@x2.png 2x
          "
        />

        <img
          class="reviews__image"
          src="./img/webp/desc/review.png"
          srcset="./img/webp/desc/review@x2.png 2x"
          alt="review"
        />
      </picture>
    </div>

    <div>
      <div class="reviews-slider swiper">
        <ul
          class="swiper-wrapper reviews-swiper-wrapper"
          id="reviews__wrapper"
        ></ul>

        <div class="slider-nav-pag">
          <div class="swiper-pagination"></div>
          <div class="swiper-pagination-arrows">
            <button class="slider-arrows review-pagination-prev">
              <svg class="icon" viewBox="0 0 32 32">
                <use href="./img/sprite.svg#icon-Polygon-5"></use>
              </svg>
            </button>

            <button class="slider-arrows review-pagination-next">
              <svg class="icon" viewBox="0 0 32 32">
                <use href="./img/sprite.svg#icon-Polygon-4"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
