.about-game {
  padding: 0px 16px;
  background: linear-gradient(269.86deg, #49cdfc 0.12%, #fba4cd 99.88%);
}

.about-game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.about-game-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 32px;
  line-height: 1.2;
  color: #fff;

  margin-bottom: 12px;
}

.about-game-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.about-game-text {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.4;
  color: #274c5a;

  max-width: 343px;
}

.mobile-only {
  content: '';
  display: block;
  height: 18px;
}

.desktop-break {
  display: none;
}

.about-game-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.about-the-game {
  max-width: 375px;
  height: auto;
  display: block;
}

@media only screen and (min-width: 1440px) {
  .about-game {
    padding: 0 20px;
    background:
      url('/img/webp/desc/image 2.svg') center/cover no-repeat,
      linear-gradient(269.86deg, #49cdfc 0.12%, #fba4cd 99.88%);
  }

  .about-game-container {
    align-items: left;
    text-align: left;
  }

  .about-game-title {
    font-size: 64px;
    line-height: 1.1;

    margin-right: 742px;
  }

  .about-game-content {
    flex-direction: row;
    align-items: center;
    text-align: left;
    justify-content: space-between;
  }

  .about-game-text {
    width: 50%;
    order: 2;

    font-size: 24px;
    line-height: 1.2;

    max-width: 475px;
  }

  .mobile-only {
    display: none;
  }

  .desktop-break {
    display: inline;
  }

  .about-game-image {
    order: 1;
  }

  .about-the-game {
    max-width: 100%;

    margin-right: 80px;
  }
}

/*.about-game-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .about-game-content {
    gap: 0;

    width: 50%;
    order: 2;
  }

  .about-game-title {
    font-size: 64px;
    line-height: 1.1;

    margin-top: 104px;
  }

  .about-game-text {
    font-size: 24px;
    line-height: 1.2;

    max-width: 475px;

    margin-bottom: 0px;
  }

  .about-game-image {
    width: 50%;
    order: 1;
  }

  .about-the-game {
    max-width: 100%;
  } */
