.footer {
  background-color: #274c5a;
}
.footer-container {
  padding-top: 16px;
  padding-bottom: 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0%;
  color: #ffffffff;
  text-align: center;
}
@media only screen and (min-width: 1440px) {
  .footer-container {
    padding-top: 22px;
    padding-bottom: 23px;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-nav {
    gap: 43px;
  }
}
