.hero {
  padding: 0px 16px;
  background: linear-gradient(269.86deg, #49cdfc 0.12%, #fba4cd 99.88%);
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
  width: 100%;
}

.hero-character {
  max-width: 317px;
  height: auto;
  display: block;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: -30px;
}

.hero-title {
  align-self: flex-start;
  text-align: left;
  width: 100%;
  margin-bottom: 12px;

  font-family: var(--third-family);
  font-weight: 400;
  font-size: 32px;
  color: #fff;
  line-height: 1.2;

  text-shadow: 0 9px 9px #4f228a;
}

.hero-description {
  align-self: flex-start;
  text-align: left;
  width: 100%;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.85);

  margin-bottom: 24px;
}

.btn-play-hero {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  white-space: nowrap;

  border-radius: 10px;
  padding: 8px;
  width: 169px;
  height: 50px;

  margin-bottom: 24px;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: #000;
}

.btn-play-hero-text-light {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 14px;
  color: #fff;
}

.btn-play-hero-text-bold {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  color: #fff;
}

.play-icon {
  width: 16px;
  height: 19px;
}

.hero-stats {
  display: flex;
  flex-direction: row;
  gap: 16px;

  margin-bottom: 50px;
}

.stat-item-rating {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  border: 2px solid #45075d;
  border-radius: 10px;
  padding: 8px 12px;
  width: 61px;
  height: 31px;

  box-shadow: 0 9px 3px #45075d;
  background-color: #fff;
}

.stat-item-reviews {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  border: 2px solid #45075d;
  border-radius: 10px;
  padding: 8px 12px;
  width: 70px;
  height: 32px;

  box-shadow: 0 9px 3px #45075d;
  background-color: #fff;
}

.stat-item-download {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  border: 2px solid #45075d;
  border-radius: 10px;
  padding: 8px 12px;
  width: 77px;
  height: 31px;

  box-shadow: 0 9px 3px #45075d;
  background-color: #fff;
}

.stat-label {
  display: none;
}

.stat-value {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 12px;
  color: #274c5a;
}

.stat-icon {
  width: 16px;
  height: 16px;
}

@media only screen and (min-width: 1440px) {
  .hero {
    padding: 16px 80px;
    background:
      url('/img/webp/desc/stars.svg') center/cover no-repeat,
      linear-gradient(269.86deg, #49cdfc 0.12%, #fba4cd 99.88%);
  }

  .hero-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .hero-image {
    width: 50%;

    order: 2;

    margin-top: 0;
  }

  .hero-character {
    max-width: 100%;
  }

  .hero-content {
    width: 50%;
    text-align: left;
    align-items: flex-start;

    order: 1;

    padding-top: 144px;
  }

  .hero-title {
    margin-bottom: 16px;

    font-weight: 500;
    font-size: 75px;
    line-height: 1.1;
  }

  .hero-description {
    font-size: 32px;
  }

  .btn-play-hero {
    padding: 8px 16px;
    width: 373px;
    height: 75px;

    margin-bottom: 140px;
  }

  .btn-play-hero-text-light {
    font-size: 32px;
  }

  .btn-play-hero-text-bold {
    font-size: 32px;
  }

  .play-icon {
    width: 38px;
    height: 38px;
  }

  .hero-stats {
    align-self: center;
    justify-content: center;
    align-items: center;
    gap: 24px;
    width: 100%;

    margin: 0 auto 40px 400px;
  }

  .stat-item-rating {
    width: 159px;
    height: 45px;
  }

  .stat-item-reviews {
    width: 190px;
    height: 45px;
  }

  .stat-item-download {
    width: 235px;
    height: 45px;
  }

  .stat-label {
    display: flex;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    color: #274c5a;
    gap: 4px;
  }

  .stat-value {
    font-size: 24px;
  }

  .stat-icon {
    width: 24px;
    height: 24px;
  }
}
