.how-to-play {
  background: linear-gradient(269.86deg, #49cdfc 0.12%, #fba4cd 99.88%);
  scroll-margin-top: 100px;
}

.slider-slide-how-to-play {
  height: 66px;
  display: flex;
  justify-content: center;
}

.how-to-play-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.how-to-play-title {
  text-align: center;

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 32px;
  color: #fff;
}

.how-to-play-swiper {
  width: 100%;
}

.card {
  box-sizing: border-box;
  /*max-width: 311px !important;*/
  height: 66px !important;
  border-radius: 10px;
  /*padding: 0 16px;*/

  /*margin-bottom: 24px !important;*/

  align-items: center;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: #000;
  background-color: #fff;

  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);

  transition: all 0.3s ease;
}

.card-1 {
  border: 3px solid #2ca5ad;
}

.card-2 {
  border: 3px solid #de86b0;
}

.card-3 {
  border: 3px solid #cfb055;
}

.card-4 {
  border: 3px solid #2ca5ad;
}

.card-5 {
  border: 3px solid #6575e4;
}

.card-6 {
  border: 3px solid #cfb055;
}

.card-7 {
  border: 3px solid #de86b0;
}

.card-8 {
  border: 3px solid #6575e4;
}

.card-9 {
  border: 3px solid #d72933;
}

.card-10 {
  border: 3px solid #d72933;
}

.card-11 {
  border: 3px solid rgba(138, 56, 245, 0.86);
}

.slider-nav-pag {
  display: flex;
  justify-content: space-between;
  align-items: center;

  flex-direction: column;
  margin-bottom: 16px;
}

@media only screen and (min-width: 1440px) {
  .how-to-play {
    background: url('/img/webp/desc/image 8.svg') center/cover no-repeat,
      linear-gradient(269.86deg, #49cdfc 0.12%, #fba4cd 99.88%);
  }

  .how-to-play-container {
    gap: 32px;
  }

  .how-to-play-title {
    font-size: 64px;
    margin-right: 1090px;
  }

  .card {
    padding: 0px 24px;

    margin-bottom: 8px !important;
  }

  .slider-nav-pag {
    margin-bottom: 42px;
  }
}
