.reviews {
  padding: 32px 0;
  background: url('/img/webp/desc/stars.svg') center/cover no-repeat,
    linear-gradient(269.86deg, #49cdfc 0.12%, #fba4cd 99.88%);
  scroll-margin-top: 100px;
}
.reviews-content {
  flex-direction: column;
  display: flex;
  align-items: center;
  gap: 24px;
}
.reviews-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: 0%;
  color: #ffffff;
}
.reviews-slider {
  width: 330px;
  margin: 0 auto;
  padding: 20px 0;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.reviews-swiper-wrapper {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.reviews__image-conteiner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  right: -23px;
}
.reviews__image,
.slider__image {
  display: block;
  max-width: 100%;
  height: auto;
}
.review__slide {
  background-color: #ffffff;
  flex-direction: column;
  justify-content: space-between;
  height: auto !important;
  display: flex !important;
  padding: 12px;
  border-radius: 10px;
  box-sizing: border-box;
}

.review-icon {
  width: 32px;
  height: 32px;
  background-color: #274c5a;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.review-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.reviews-nav-pag {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  flex-direction: column;
}

.review-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0;
  text-align: start;
  color: #274c5a;
}

.rating-rate > i {
  font-size: 14px;
  color: #fdc403;
}

@media only screen and (min-width: 1440px) {
  .reviews-content {
    align-items: flex-start;
    background: url('/img/webp/desc/review.png') right center / 25% no-repeat;
  }
  @media (min-resolution: 2dppx) {
    .reviews-content {
      background-image: url('/img/webp/desc/review@x2.png');
    }
  }
  .reviews-title {
    font-size: 64px;
  }
  .reviews-slider {
    width: 684px;
  }
  .reviews-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .reviews__image-conteiner {
    display: none;
  }
}
