.termsofserviceh1 {
  font-weight: 600;
  font-size: 40px;
  line-height: 1;
  letter-spacing: 0%;
  color: #ffffff;
}
.termsofserviceh2 {
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0%;
  color: #274c5a;
  margin-bottom: 24px;
  margin-top: 24px;
}
.termsofserviceP {
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0%;

  color: #274c5a;
}
.termsofservice-container {
  background: linear-gradient(269.86deg, #49cdfc 0.12%, #fba4cd 99.88%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.termsofservice-content {
  padding-top: 32px;
  padding-bottom: 32px;
}
.linc-beck {
  gap: 16px;
  display: flex;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0%;
  color: #274c5a;
  margin-bottom: 12px;
  align-items: center;
}

@media only screen and (min-width: 1440px) {
  .termsofserviceh1 {
    font-size: 80px;
  }
  .termsofserviceh2 {
    font-size: 32px;
  }
  .termsofserviceP {
    font-size: 32px;
  }

  .linc-beck {
    gap: 22px;
    font-size: 32px;
    margin-bottom: 35px;
  }
  .termsofservice-content {
    padding: 104px 80px 80px 80px;
  }
}
